* {
    padding: 0;
    margin: 0;

}
header {
    font-size: 60px;
    background-color: rgb(51,64,156);
    color: white;
    padding: 25px;
    justify-content: center;
    text-align: center;
    display: inline-block;
}
.container {
    padding: 25px;
    justify-content: center;
    align-content: center;
    display: inline-block;

}
